*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   justify-content: center;
   align-items: center;
   font-family: 'Lato', sans-serif;
   height: 100vh;
   background: linear-gradient(
      180deg,
       rgb(0, 150, 136) 15%, 
       rgb(219, 219, 211) 15%
   );
}

img{
   width: 100%;
}

.flex{
   display: flex;
}

.relative{
   position: relative;
}

.absolute{
   position: absolute;
}

.left .fa-solid,
.right .fa-solid,
.right .fa-regular{
   font-size: 25px;
   color: rgb(177, 177, 177);
}

a{
   color: rgb(79, 116, 133);
}

.top{
   background-color: rgb(234, 234, 234);
   max-height: 70px;
}

.middle .message{
   width: 60%;
   height: auto;
   max-height: 200px;
   padding: 15px 30px 40px 15px;
   border-radius: 10px;
}





/*------------ 
DESKTOP FIRST
-------------*/



/* INIZIO MAIN */
main{
   justify-content: center;
   align-items: center;
}

.container{
   width: 70%;
   max-width: 1300px;
   min-width: 950px;
   height: 80%;
   border: 1px solid;
}

.macro.col.left{
   width: 380px;
   background-color: white;
}

.macro.col.right{
   width: calc(100% - 380px);
}

.macro.col{
   height: 100%;
}


/* INIZIO .MACRO.COL.LEFT */

/* TOP */
.left .top{
   height: 70px;
   border-right: 1px solid rgb(214, 214, 214);
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

.left .top img{
   border-radius: 50%;
   width: 55px;
}

.left .top .fa-solid,
.left .search .fa-solid{
   margin: 0 10px;
}

/* BELL */
.left .bell{
   height: 90px;
   background-color: rgb(142, 218, 252);
   align-items: center;
}

.left .bell .circle{
   width: 55px;
   height: 55px;
   background-color: white;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   margin: 0 20px;
}

.left .bell .circle .fa-solid{
   color: rgb(142, 218, 252);
}

/* SEARCH */
.left .search{
   height: 50px;
   justify-content: center;
   align-items: center;
   background-color: rgb(250, 250, 250);
}

.left .search .box{
   width: 95%;
   height: 70%;
   border: 1px solid rgba(234, 234, 234, 0.626);
}

.left .search .box input{
   width: 100%;
   color: rgb(177, 177, 177);
   font-size: 17px;
   border: none;
}

.left .search .box:first-child{
   background-color: white;
}

.left .search .fa-solid{
   font-size: 18px;
   margin-top: 5px;
}

/* CONTATTI */
.left .lista-contatti{
   height: calc(100% - 210px);
   overflow: scroll;
}

.left .contatto{
   height: auto;
   align-items: center;
   border-top: 1px solid rgb(237, 237, 237);
}

.left .contatto img{
   width: 55px;
   border-radius: 50%;
   margin: 13px 20px;
}

.left .contatto .box p:nth-child(1){
   font-size: 20px;
}

.left .contatto .box p:nth-child(2){
   color: rgb(170, 170, 170);
   font-size: 16px;
}

.left .contatto span{
   font-size: 13px;
   color: rgb(170, 170, 170);
   position: absolute;
   top: 15px;
   right: 15px;
}






/* INIZIO .MACRO.COL.RIGHT */

/* TOP */

.right .top{
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

.right .info-contatto{
   align-items: center;
   padding: 8px;
}

.right .top img{
   width: 55px;
   border-radius: 50%;
   margin-right: 20px;
}

.right .info-contatto .box p:last-child{
   color: rgb(138, 138, 138);
   font-weight: 600;
}

.right .top .fa-solid{
   margin: 0 10px;
}

/* MIDDLE */
.middle{
   background-image: url(../img/mine.jpg);
   height: calc(100% - 140px);
   padding: 60px 40px;
}

.middle .sended{
   background-color: rgb(213, 249, 186);
}

.middle .received{
   background-color: white;
   margin-top: 20px;
}



.middle .fa-solid{
   font-size: 13px;
   top: 20px;
   right: 10px;
}

.middle span{
   font-size: 11px;
   color: rgb(170, 170, 170);
   bottom: 10px;
   right: 10px;
}

/* BOTTOM */
.right .bottom{
   height: 70px;
   background-color: rgb(243, 238, 234);
   justify-content: space-evenly;
   align-items: center;
}

.right .bottom input{
   width: 80%;
   height: 50px;
   font-size: 15px;
   border: none;
   border-radius: 6px;
   padding-left: 15px;
   margin: 10px 0;
   color: rgb(79, 116, 133);
}











/* ----------
  MEDIAQUERY
----------- */



/* DA TABLET IN POI */
@media(max-width: 992px){

   .container{
      width: 100%;
      height: 100%;
      min-width: 400px;
   }


   /* .MACRO.COL.LEFT */
   .macro.col.left{
      width: 90px;
   }

   .left .top .icon,
   .left .bell,
   .left .search,
   .left .lista-contatti .box,
   .left .lista-contatti span{
      display: none;
   }



   /* .MACRO:COL.RIGHT */
   .macro.col.right{
      width: 100%;
   }


   /* MIDDLE */
   .middle .received{
      left: 30px;
      bottom: 420px;
   }

   .middle .sended{
      right: 30px;
   }

}







/* MOBILE */
@media(max-width: 541px){

   /* .MACRO.COL.LEFT */
   .macro.col.left{
      display: none;
   }




   /* .MACRO.COL.RIGHT */

   /* TOP */
   .right .top .icon{
      display: none;
   }

   /* MIDDLE */
   .middle .sended,
   .middle .received{

   }
  

   /* BOTTOM */
   .right .bottom i{
      display: none;
   }

   .right .bottom input{
      width: 95%;
   }

}